@page "/library/booksList"
@inject ILibraryService LibraryService
@inject NavigationManager NavigationManager


<h3>List of books in your library</h3>


<p>
    <a href="library/createbook">Create new book</a>
</p>

@if (books == null)
{
    <p><em>@message</em></p>
}

else
{

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Description</td>
                    <td>
                        <button class="btn btn-primary" @onclick="()=> GoToEdit(book.Id)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-primary" disabled="@(currentPage==1)" @onclick="PreviousPage">Previous</button>
    <span>@currentPage</span>
    <button class="btn btn-primary" @onclick="NextPage">Next</button>
}









@code {

    private List<Book> books;
    private string message = "Loading products...";

    private int currentPage = 1;
    private const int pageSize = 5;

    private string searchTerm = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadBooks();
    }

    private async Task LoadBooks()
    {
        // var response = await LibraryService.SearchBooksAsync(searchTerm, currentPage, pageSize);
        var response = await LibraryService.GetAllBooksAsync();

        if (response.Success)
        {
            books = response.Data
              .Skip(pageSize * (currentPage - 1))
              .Take(pageSize)
              .ToList();
        }
        else
        {
            message = response.Message;
        }
    }


    void GoToEdit(int id)
    {
        NavigationManager.NavigateTo($"/library/editbook/{id}");
    }

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await LoadBooks();
        }
    }
    private async Task NextPage()
    {
        currentPage++;
        await LoadBooks();
    }

    private async Task Search()
    {
        currentPage = 1;
        await LoadBooks();
    }


}
